
.New {
  text-align: center;
  align-items: center;
  font-weight: 900;
}

input {
  margin-top: 55px;
  margin-left: 80px;
}

button {
  
color: black;
margin-left: 30px;
padding: 10px 10px;

}
.count {
  text-align: center;
  margin-top: 50px;
  font-weight: 900;
  font-size: xx-large;
  

}
.list{
  text-align: center;
}
.namechange{
  text-align: center;
  margin-top: 100px;
}